/* basic styles */
html {
  font-size: 50%;
  line-height: 1.5rem;
  box-sizing: border-box;
  font-family: Georgia;
  height: 100%;
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion) {
  html {
    scroll-behavior: initial;
  }
}

body {
  margin: 0 auto;
  padding: 0;
  min-height: 100%;
  max-width: 100%;
  padding-bottom: 8rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  width: 100%;
  height: auto;
  display: block;
}

/* Hero Styles */
.hero-box {
  display: contents;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0px;
  align-content: center;
  justify-content: center;
  align-items: start;
  height: 100%;
  width: 100%;
  margin-top: -10rem;
}

.hero-image-box {
  height: 0vh;
  width: 100%;
  display: grid;
  grid-column: 1/-1;
  grid-row: 1/-1;
}
/* not used because no box behind title/image (no image)
this creates a box around the title and heading to make them easier to read
.hero-image-box::after {
  content: "";
  background-color: rgba(0, 0, 0, 0);
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
*/
.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
.hero-text-box {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  align-self: center;
  color: antiquewhite;
  text-align: center;
  padding: 0rem;
  z-index: 10;
}
.hero-heading {
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: 0.05rem;
  font-weight: normal;
  text-transform: normal;
  color: black;
}
/* hero-text is not used because no sub heading */
.hero-text {
  font-size: 1rem;
  margin-top: 0.5rem;
  color: rgb(216, 132, 23);
}

/* Portfolio Gallery Styles */
.portfolio-container {
  height: 100vh;
  width: 100%;
  background: white;
  padding: 0%;
  margin: 1rem auto 0 auto;
}
/* deleted h1 here in index code
.portfolio-container h1 {
  font-size: 2rem;
  line-height: 2rem;
}
*/

.portfolio-gallery {
  /*display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 0.5rem;
  grid-auto-rows: 300px;
  width: 100%;
  background-color: black;
  color: white;
  overflow: auto;
  font-size: 1vmax;
  align-items: center;*/
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  grid-gap: 4rem;
  grid-auto-rows: 900px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: white;
  /* flex-direction: column;
  flex-wrap: wrap; */
}

.gallery-item {
  height: 100%;
  width: 100%;
  /*overflow: hidden;
  padding: 1%;
  display: flex;
  align-items: center;
  flex: 1;*/
  margin: auto;
}

.gallery-img {
  height: 100%;
  width: 100%;
  margin: auto;
  object-fit: cover;
}

/* Add Media Queries for Large Screens */
@media (min-width: 300px) {
  .hero-heading {
    font-size: 4rem;
    line-height: 4rem;
  }
  .hero-text {
    font-size: 2rem;
    line-height: 2rem;
  }
  .hero-text-box {
    padding: 0rem;
  }
  .portfolio-container h1 {
    font-size: 2rem;
    line-height: 2rem;
  }
  .portfolio-container {
    max-width: 1000px;
    height: auto;
    width: auto;
  }
  .portfolio-container h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media (min-width: 920px) {
  .hero-heading {
    font-size: 6rem;
    line-height: 6rem;
  }
}
